:root {
  --dark-brown-color: #6F5840;
  --light-brown-color: #9E7C5F;
  --matcha-green-color: #658C5E;
  --matcha-light-greem-color: #91A287;
  --white-cream-color: #FFF0D6;
  --dark-mode-color: #363537;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--dark-mode-color);
}

button {
  cursor: pointer;
  padding: 1em;
  background-color: var(--matcha-green-color);
  color: var(--white-cream-color);
}

button:hover {
  background-color: var(--matcha-light-greem-color);
}

